*.env.*

*.log
*.log*

.idea
.vscode

**/*.pyc

**/.*
docker/volumes/*

# test files
testunit/**


# local files only for production
static/**
media/**

# local dirs/files for only development
**/*-local.*
**/*-local
**/*_local.*
**/*_local